{% extends "base_login.html" %} {% block title %} Update Password {% endblock %} {% block body %}
<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
  <div class="col my-5">
    <div class="card">
      <div class="card-header">Change Password</div>
      <div class="card-body">
        <form class="form-horizontal" method="post" onsubmit="return update_password_verification()" action="/update-password">
          <div class="form-group">
            <label for="password" class="cols-sm-2 control-label">Password</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input type="hidden" name="email" value="{{res['email']}}" />
                <input type="hidden" name="origin" value="{{res['origin']}}" />
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" required />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="cols-sm-2 control-label">Confirm Password</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input type="password" class="form-control" name="conf-password" id="confirm" placeholder="Enter your Password" required />
              </div>
              <div id="password-error"></div>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Change Password</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
